.product__addCart {
  padding: 1rem;
  border: 1px solid rgb(218, 255, 218);

  &-input {
    display: flex;
    justify-content: space-around;

    input {
      width: 50%;
      border: none;
      outline: none;
      border-bottom: 1px solid rgb(119, 255, 164);
      text-align: center;
      margin: 0 0.5rem;
      font-weight: bold;
      font-family: inherit;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      outline: none;
      padding: 1.2rem;
      font-size: 2.5rem;
      width: 3rem;
      height: 3rem;
      border-radius: 0.4rem;
      color: #fff;
      background-image: linear-gradient(
        $color-primary-light,
        $color-primary-dark
      );
      transition: all 3s ease;

      &:hover {
        background-size: 200%;
      }
    }
  }

  &-button {
    button {
      margin-top: 0.5rem;
      width: 100%;
      padding: 1rem 3rem;
      border: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        to right bottom,
        $color-secondary-light,
        $color-secondary-dark
      );
      color: #fff;
      cursor: pointer;
      border-radius: 2px;
    }
  }
}
