.header {
  display: flex;
  position: fixed;
  z-index: 3;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary-light;
  padding: 0 calc(3vw + 4px);
  height: 7rem;

  &__logo img {
    height: 14rem;
  }

  &__search {
    flex: 0 0 30%;
    display: flex;
    align-items: center;

    input {
      border: none;
      font-family: inherit;
      margin-right: -3rem;
      font-size: 1.4rem;
      padding: 1rem 2rem;
      width: 100%;
      border-radius: 50px;
      background-color: $color-grey-light-1;
      caret-color: rgb(151, 255, 47);
      transition: all 0.3s;
      color: $color-grey-dark-1;

      &:focus {
        // width: 105%;
        transform: scaleX(1.03);
        background-color: $color-grey-light-2;
      }
    }

    button {
      background-color: transparent;
      border: none;
      z-index: 5;
      font-size: 18px;
      cursor: pointer;

      &:active {
        transform: translateY(2px);
      }
    }
  }

  &__nav {
    @media only screen and (max-width: 992px) {
      display: none;
    }
  }

  &__nav-lists {
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__nav-link {
    padding: 1.5rem 3rem;
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    color: #b4ffb7;
    transition: color 0.2s;

    &:hover {
      color: #85fa89;
    }

    &:active {
      border-bottom: 2px solid #000;
    }
  }
}

::-webkit-input-placeholder {
  color: $color-grey-dark-2;
}
